<section id="painel">
  <div class="container">
    <div class="painel-nav">
      <nav>
        <ul>
          <li [class.active]="(routerUrl == 'transactions')"><a routerLink="/painel">Transações</a></li>
          <li [class.active]="(routerUrl == 'personal-info')"><a routerLink="/painel/personal-info">Informacoes Pessoais</a></li>
          <li [class.active]="(routerUrl == 'messages')"><a routerLink="/painel/messages">Mensagens</a></li>
        </ul>
      </nav>
    </div>
    <div class="painel-view">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>