<section id="login">
  <div class="container">
    
    <div *ngIf="error.status" class="msg-box">
      <div class="msg-box-content">
        {{error.msg}}
      </div>
    </div>

    <form (submit)="login($event)">
      <label class="input-container">
        Login
        <input type="text" #user>
      </label>
      <label class="input-container">
        Password
        <input type="text" #password>
      </label>

      <button class="btn bg-main">Login</button>

    </form>
  </div>
</section>