<section id="cart">
  <div class="container">

    <div class="white-container">

      <header class="list">
        <label class="input-container">
          <select name="order-by" (change)="changeOrder($event)" #orderBy>
            <option value="price">Price</option>
            <option value="date">Data</option>
            <option value="name">Name</option>
          </select>
        </label>
      </header>

      <ul class="cart-list" *ngIf="items.length">
        <li *ngFor="let item of items">
          <div class="image-container">
            <img src="{{item.image}}" alt="">
          </div>
          <div class="content">
            <h2 class="title">
              {{item.title}}
            </h2>
            <span class="price">
              {{item.price | currency}}
            </span>
          </div>
          <div class="actions">
            <a href="#" class="btn bg-main no-radius max">Mensagens <span>a</span>  </a>
            <a [routerLink]="['/Item/',item.id]" class="btn bg-secundary no-radius max">Ver Produto <span>b</span> </a>
          </div>
          <button (click)="deleteOne(item.id,$event)" class="btn btn-position-top btn-action btn-remove bg-complement">X</button>
          <app-qtd-input class="btn-position-top btn-qtd" [minValue]="0" [maxValue]="10" [value]="item.qtd"></app-qtd-input>
          
        </li>
      </ul>
      
      <div class="msg-box" *ngIf="!items.length"> 
        <div class="msg-box-content">
          Voce nao adicionou produtos ao carrinho !! 
        </div>
      </div>

      <div class="actions">
        <button class="btn bg-complement" (click)="cleanCart($event)" [disabled]="!items.length">Limpar Carrinho</button>  
        <button class="btn bg-main" (click)="payment($event)" [disabled]="!items.length" >Finalizar Compra</button>
      </div>

    </div>
  </div>
</section>