@import '../../../../assets/styles/main';

.item{
    background-color: $white;
    padding: 15px;
    box-shadow: 0 0 6px 0 darken($light-gray,16%);
    @include media($md, 'min'){
        padding: 50px;
        .flex-container .image-container img{
            width: initial;
        }
    }
    .flex-container{
        @include flex-align(0 1 auto);
        margin-bottom: 25px;
        .image-container{
            margin-bottom: 25px;
            img{
                width: 100%;
            }
        }
        .main-info{
            flex: 1 1 auto;
            @include flex-align(1 1 auto);
            padding-left: 25px;
            justify-content: space-between;

            .title{
                margin: 0 15px 0 0;
            }
            .price{
                font-size:22px;
                font-weight: 500;
            }
        }
    }
    .separator{
        background-color: darken($light-gray,10%);
        height: 1px;
        width: 100%;
        margin: 25px 0;
    }
    p{
        font-size: 12px;
        margin-top: 25px;
        line-height: 22px;
    }
    .info{
        margin-bottom: 35px;
        & > *{
            margin-top: 10px;   
        }
    }
    .action{
        text-align: right;
        @include media($md, 'min'){
            .btn{
                margin-left: 15px;
            }
        }
    }
}