//Generic
.super-fast-e{
    @include animation-spd(.1s);
}
.fast-e{
	@include animation-spd(.2s);
}
.slow-e{
    @include animation-spd(.4s);
}

.top-fade-out{
    animation: top-fade-out linear 0.6s;
}
.spin{
    animation: spin linear 0.3s;
}
.text-out-left{
    animation: text-out-left cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.text-out-right{
    animation: text-out-right cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

@keyframes bounce {
    0%{ transform: scale(1);}
    20%{ transform: scale(2.0);}
    40%{ transform: scale(0.9);}
    60%{ transform: scale(1.5);}
    80%{ transform: scale(0.8);}
    100%{ transform: scale(1);}
}

@keyframes top-fade-out{
    0%{
        transform: translateY(-20px);
        opacity: 1;
    }
    50%{
        transform: translateY(-50px);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-80px);
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes text-out-left{
    0%{ text-indent: 0;
        overflow: hidden; 
    }
    35%{ text-indent: -100px; }
    100%{ text-indent: 0; 
        overflow: hidden; 
    }
}
@keyframes text-out-right{
    0%{ text-indent: 0; 
        overflow: hidden; 
    }
    35%{ text-indent: 100px; }
    100%{ text-indent: 0;
        overflow: hidden; 
    }
}