<header id="site">
  <button class="mobile-dropdown-toggle" (click)="collapsed = !collapsed">
    <span *ngIf="collapsed">
      Fechar
    </span>
    <span *ngIf="!collapsed">
        Fechar
      </span>
  </button>
  <nav>
    <ul [ngClass]="{collapsed : collapsed}" >
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/painel">Painel</a></li>
      <li *ngIf="AuthService.getIsUserLoggedIn()"><a routerLink="/cart">Cart</a></li>
      <li *ngIf="AuthService.getIsUserLoggedIn()"><a href="/logout" (click)="logout($event)">Logout</a></li>
      <li *ngIf="!(AuthService.getIsUserLoggedIn())"><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>