@import '../../../../assets/styles/main';

header#site {
    background-color: lighten($main,8%);
    a{
        color: $white;
    }
    ul{
        @include flex-align(0 0 auto);
        justify-content: flex-end;
        margin-top: -100%;
        transition: ease 0.28s all;
        li{
            margin: 0;
            padding: 0;
            a{
                padding: 15px 25px;
                transition: all 0.18s;
                text-decoration: none;
                display: block;
            }
            &:hover{
                a{
                    background-color: lighten($main,16%);
                }
            }
        }
        &.collapsed{
            margin-top: 0;
        }
    }
    .mobile-dropdown-toggle{
        margin-top: 5px;
        margin-left: 5px;
        background-color: $main;
        border: 0;
        color: $white;
    }
    @include media($md,'min'){
        .mobile-dropdown-toggle{
            display: none;
        }
    }
}